@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestión de Alquiler de Vehículos</h1>
    <br />
    <h4><b>Universidad Abierta Para Adultos (UAPA)</b></h4>
    <br />
    <p>Desarrollo de Proyectos con Software Libre </p>
    <br />
    <p>Luis Joel Hernandez Cordero – 100058777</p>
    <p>Jenisee Olivari Pujols - 100058505</p>
</div>
